*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #2b2652 !important;
}
/* 
.content {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
  border: 1px solid #000;
  padding: 20px ;
  background-color: #fff;
  margin-top: 10%;
  border-radius: 8px;
}
#f-name {
  width: 80%;
  margin-bottom: 30px;
  outline: none;
  padding: 5px 10px;
}
#l-name {
  width: 80%;
  margin-bottom: 30px;
  outline: none;
  padding: 5px 10px;
}
#tell {
  width: 80%;
  margin-bottom: 30px;
  outline: none;
  padding: 5px 10px;
}
#contentt {
width: 50%;
display: flex;
flex-direction: column;
}
#formss {
  display: flex;
  flex-direction: column;
}
#sellection {
  width: 80%;
  height: 40px;
  margin-bottom: 30px;
  margin-top: 22px;
}
#buttonl {
  width: 80%;
  height: 40px;
  border:  1px solid #11292b;
  background-color: #34726a;
  color: #fff;
  border-radius: 30px;
}
#info_content {
  width: 50%;
}
#buttonlar {
  width: 100%;
  display: flex;
  justify-content: space-between !important;
  margin-bottom: 30px;
}
#all {
  padding: 0 30px;
  height: 40px;
  border:  1px solid #184346;
  background-color: #51bfce;
  color: #fff;
  border-radius: 22px;
}
#friend {
  padding: 0 30px;
  height: 40px;
  border:  1px solid #184346;
  background-color: #51bfce;
  color: #fff;
  border-radius: 22px;
}
#family {
  padding: 0 30px;
  height: 40px;
  border:  1px solid #184346;
  background-color: #51bfce;
  color: #fff;
  border-radius: 22px;
}
#classmad{
  padding: 0 30px;
  height: 40px;
  border:  1px solid #184346;
  background-color: #51bfce;
  color: #fff;
  border-radius: 22px;
}



.lists {
  list-style: none;
  padding: 0;
  margin: 0;
}
.items {
  display: flex;
  justify-content: space-between;
  border: 1px solid #236575;
  margin-bottom: 20px;
  padding:10px 20px;
  align-items: center;
}
.pi {
  margin: 0;
} */











.father {
  border: 4px solid #14192e;
  background-color: #fff;
  border-radius: 8px;
  padding: 14px;
  width: 900px;
  margin: 0 auto;
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
}
.input {
  width: 100%;
  padding: 7px 10px;
  margin-bottom: 20px;
}
.category {
  width: 100%;
  padding: 7px 10px;
  margin-bottom: 20px;
}
.list-group {
  width: 100% !important;
}
.elspan {
  width: 25%;
}
#form {
  width: 48%;
}
.info {
  width: 48%;
}
.btn-group {
  display: flex !important;
  justify-content: space-between !important;
}