*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  background: rgb(36,2,0);
  background: linear-gradient(90deg, rgba(36,2,0,1) 3%, rgba(9,77,121,1) 61%, rgba(0,212,255,1) 100%);
} */
.content {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
  border: 1px solid #000;
  padding: 20px ;
  background-color: #fff;
  margin-top: 10%;
}
#f-name {
  width: 80%;
  margin-bottom: 30px;
  outline: none;
  padding: 5px 10px;
}
#l-name {
  width: 80%;
  margin-bottom: 30px;
  outline: none;
  padding: 5px 10px;
}
#tell {
  width: 80%;
  margin-bottom: 30px;
  outline: none;
  padding: 5px 10px;
}
#contentt {
width: 50%;
display: flex;
flex-direction: column;
}
#formss {
  display: flex;
  flex-direction: column;
}
#sellection {
  width: 80%;
  height: 40px;
  margin-bottom: 30px;
  margin-top: 22px;
}
#buttonl {
  width: 80%;
  height: 40px;
  border:  1px solid #11292b;
  background-color: #34726a;
  color: #fff;
  border-radius: 30px;
}
#info_content {
  width: 50%;
}
#buttonlar {
  width: 100%;
  display: flex;
  justify-content: space-between !important;
  margin-bottom: 30px;
}
#all {
  padding: 0 30px;
  height: 40px;
  border:  1px solid #184346;
  background-color: #51bfce;
  color: #fff;
  border-radius: 22px;
}
#friend {
  padding: 0 30px;
  height: 40px;
  border:  1px solid #184346;
  background-color: #51bfce;
  color: #fff;
  border-radius: 22px;
}
#family {
  padding: 0 30px;
  height: 40px;
  border:  1px solid #184346;
  background-color: #51bfce;
  color: #fff;
  border-radius: 22px;
}
#classmad{
  padding: 0 30px;
  height: 40px;
  border:  1px solid #184346;
  background-color: #51bfce;
  color: #fff;
  border-radius: 22px;
}




















